:root {
  --main: #121212;
  --main-contrast: #fff;

  --card-1-bg: #f6f6f6;

  scroll-behavior: smooth;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("fonts/Hiragino\ Kaku\ Gothic\ Std\ W8.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--main);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main-contrast);
  width: max-content;
}

section {
  padding: 0 70px;
}

h1 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.5%;
  font-family: "Hiragino Kaku Gothic Std", sans-serif;
}

h2,
h3 {
  font-size: 2.375rem;
  text-align: center;
  line-height: 1.2;
  font-family: "Hiragino Kaku Gothic Std", sans-serif;
  font-weight: 800;
}

.header {
  align-items: center;
  display: flex;
  column-gap: 8px;
  height: 60px;
  padding: 0 36px;
  max-width: 1440px;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
  flex: 1;
  margin-left: 62px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.black-button {
  background: var(--main);
  padding: 6px 20px;
  border-radius: 12px;
  font-size: 1rem;
  color: var(--main-contrast);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  padding: 0 36px;
  max-width: 1440px;
}

.hero {
  background:
    url("images/hero-bg.png") no-repeat right 10% center,
    var(--card-1-bg);
  border-radius: 40px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  height: 600px;
}

.hero-content {
  max-width: 500px;
}

.notify-button {
  background: #8ea468;
  padding: 14px 24px;
  border-radius: 15px;
  font-weight: 500;
  margin-top: 34px;
  color: var(--main-contrast);
  display: block;
  width: max-content;
}

.about-product-content-button {
  width: max-content;
}

.section-anchor {
  font-size: 1.25rem;
  letter-spacing: 2%;
  text-align: center;
  display: block;
  color: #7b7b7b;
}

.subtitle {
  text-align: left;
  font-size: 2rem;
}

.problem-cards {
  display: flex;
  gap: 24px;
}

.problem-card {
  background: linear-gradient(180deg, #ecf0e5 15.38%, #ecf0e5 100%);
  padding: 30px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 1;
}

.problem-card-number {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
}

.change {
  background-color: #fef2e4;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
  margin-top: 24px;
  row-gap: 32px;
}

.change-title {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5%;
  color: #ea784f;
}

.soft-star {
  clip-path: path(
    "M19.9529 0.485976C20.0299 -0.161992 20.9701 -0.161992 21.0471 0.485976L21.6921 5.92184C22.5249 12.941 28.059 18.4751 35.0781 19.3079L40.514 19.9529C41.162 20.0299 41.162 20.9701 40.514 21.0471L35.0781 21.6921C28.059 22.5249 22.5249 28.059 21.6921 35.0781L21.0471 40.514C20.9701 41.162 20.0299 41.162 19.9529 40.514L19.3079 35.0781C18.4751 28.059 12.941 22.5249 5.92184 21.6921L0.485976 21.0471C-0.161992 20.9701 -0.161992 20.0299 0.485976 19.9529L5.92184 19.3079C12.941 18.4751 18.4751 12.941 19.3079 5.92184L19.9529 0.485976Z"
  );
}

.change-star {
  height: 41px;
  width: 41px;
  background-color: #ea784f;
}

.for-whom-cards {
  display: flex;
  gap: 24px;
  margin: 32px 0;
}

.how-app-works-cards {
  display: grid;
  grid-template: repeat(2, max-content) / 394px 1fr 394px;
  gap: 32px 96px;
  margin: 32px 0;
}

.how-app-works-card-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
}

.how-app-works-image {
  grid-row: 1 / 3;
  grid-column: 2;
}

.icon-card {
  background: var(--card-1-bg);
  padding: 30px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 1;
}

.advantage-cards {
  margin-top: 70px;
  display: flex;
  gap: 24px;
}

.email-section {
  background: #e7ecf4;
  border-radius: 24px;
  padding: 60px;
  position: relative;

  h3 {
    text-align: left;
  }
}

.email-section-content {
  max-width: 581px;
}

.email-form {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}

.email-input {
  border: 1px solid #b0aeae;
  padding: 14px 16px;
  border-radius: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.email-section-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer {
  background-color: #f6f6f6;
  padding: 32px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  width: 100%;
}

.footer-container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-right-list {
  font-size: 1rem;
  display: grid;
  gap: 12px 60px;
  grid-template: max-content / repeat(3, 1fr);
  flex-direction: column;
  align-items: flex-end;
}

.grid {
  display: grid;
  grid-template: repeat(2, max-content) / 1fr 394px;
  gap: 24px;
  margin-top: 32px;
}

.grid-item {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: flex-start;
}

.icon {
  width: 46px;
  height: 46px;
}

.teen-parent-list {
  list-style-position: inside;

  li::marker {
    font-size: 0.75rem;
  }
}

.teen-parent-list-title {
  margin-bottom: 16px;
  font-weight: 500;
}

.teen-parent-image {
  padding: 0;
  overflow: hidden;
  border-radius: 24px;
  grid-row: 1 / 3;
  grid-column-start: 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about-product-content {
  background-color: #fef2e4;
  border-radius: 24px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
  margin-top: 90px;
}

.about-product-content-text {
  max-width: 512px;
  font-size: 1.25rem;
}

.about-product-content-image {
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 351px;
}
