.hero {
  background: var(--card-1-bg);
  border-radius: 40px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

.hero-content {
  max-width: 500px;
}

.hero-bg-container {
  flex: 1;
}

@media (width <= 1024px) {
  .hero {
    flex-direction: column;
    height: auto;
    padding: 32px;
  }

  .hero-bg-container {
    display: none;
  }
}

@media (width <= 768px) {
  .hero {
    padding: 16px;
  }
}
