<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Identify mental health problems</h1>
    <p class="hero-description">
      An app that tracks your daily condition, uncovers hidden patterns, and
      helps doctors make faster, more accurate diagnoses.
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdC-kvfT5vp0ITUdxSZDyJYExJvkep9kQ4SNvL68xFr8jwW9w/viewform"
      class="notify-button"
      >Notify me when it starts</a
    >
  </div>
</section>
