<section class="hero">
  <div class="hero-content">
    <h1>Identify mental health problems</h1>
    <p>
      An app that tracks your daily condition, uncovers hidden patterns, and
      helps doctors make faster, more accurate diagnoses.
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdC-kvfT5vp0ITUdxSZDyJYExJvkep9kQ4SNvL68xFr8jwW9w/viewform"
      class="notify-button"
      >Notify me when it starts</a
    >
  </div>

  <div class="hero-bg-container">
    <img src="images/hero-bg.webp" alt="" class="hero-bg" />
  </div>
</section>
