<section>
  <span class="section-anchor" id="about-product">ABOUT PRODUCT</span>

  <h2>
    Your personal AI companion <br />
    for mental health
  </h2>

  <div class="about-product-content">
    <p class="about-product-content-text">
      An app that helps you track your condition, understand yourself, and get help
      in a timely manner — for your entire life
    </p>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdC-kvfT5vp0ITUdxSZDyJYExJvkep9kQ4SNvL68xFr8jwW9w/viewform"
      class="black-button about-product-content-button"
      >I want get the app</a
    >

    <img
      class="about-product-content-image"
      src="images/ai-bg.webp"
      alt=""
      loading="lazy"
      decoding="async"
    />
  </div>
</section>
