.about-product-content {
  border-radius: 24px;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
  margin-top: 32px;
  height: 351px;
}

.about-product-content-text {
  max-width: 512px;
  font-size: 1.25rem;
  margin-top: auto;
}

.about-product-content-button {
  margin-bottom: 60px;
}

.about-product-content-image {
  object-fit: cover;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
}

@media (width <= 1024px) {
  .about-product-content-image {
    display: none;
  }
}

@media (width <= 768px) {
  .about-product-content {
    padding: 0 16px;
  }
}
