<section class="email-section">
  <div class="email-section-content">
    <h3>Start understanding yourself</h3>
    <p>Leave your email and we will notify you about the launch</p>
    <form class="email-form">
      <input
        type="email"
        placeholder="Email"
        class="email-input"
        id="email-input"
        name="email"
      />
      <button type="submit" class="black-button email-button" id="send-button">
        Send
      </button>
    </form>
  </div>

  <img
    class="email-section-image"
    src="images/email-section-bg.webp"
    alt=""
    loading="lazy"
    decoding="async"
  />
</section>
