.header {
  align-items: center;
  display: flex;
  column-gap: 8px;
  height: 60px;
  padding: 0 36px;
  max-width: 1440px;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
  flex: 1;
  margin-left: 62px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

@media (width <= 1024px) {
  .header {
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }
}
