<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <a href="#" class="logo">MENTALIC</a>
      <span class="copyright">© 2026-2028 Mentalic. All rights reserved.</span>
    </div>
    <div class="footer-right">
      <nav>
        <ul class="footer-right-list">
          <li><a href="#about-product">About product</a></li>
          <li><a href="#why-it-matters">Why it matters</a></li>
          <li><a href="#for-whom">For whom</a></li>
          <li><a href="#features">Features</a></li>
          <li>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdC-kvfT5vp0ITUdxSZDyJYExJvkep9kQ4SNvL68xFr8jwW9w/viewform"
              >Contact us</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
